{% extends 'layout/default.html' %}
{% load custom_filters %}
{% block title %}
Новости
{% endblock title %}
{% block content %}
<h1>Все новости: </h1>
<H3>Количество новостей: {{ posts|length }}</H3>
    {% if posts %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Тип поста
                </td>
                <td>
                    Содержание
                </td>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.title|censor:"**" }}
                </td>
                <td>
                    {{ post.creation_date|date:"M d Y" }}
                </td>
                <td>
                    {{ post.post_type }}
                </td>
                <td>
                    {{ post.content|censor:"**"|truncatewords:20 }}
                </td>
            </tr>
        {% endfor %}
        </table>
        {% include 'news/parts/paginator.html' %}
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}
