{% extends 'layout/default.html' %}
{% load custom_filters %}

{% block title %}
Product delete
{% endblock title %}

{% block content %}
<h3>Удалить публикацию?</h3>
<div class="card">
    <div class="card-header">
        <h3>{{ post.title }}</h3>
        <div>
            Заголовок: <span class="badge bg-info">{{ post.title|censor:"**" }}</span>
            Дата создания: <span class="badge bg-info">{{ post.creation_date|date:"M d Y"  }}</span>
        </div>
    </div>
    <div class="card-body">
        {{ post.preview|censor:"**"|truncatewords:20 }}
    </div>
</div>
<form method="POST">
 {% csrf_token %}
   <input class="btn btn-success" type="submit" value="Delete">
</form>

{% endblock content %}