{% extends 'layout/default.html' %}
{% load custom_filters %}
{% block title %}
Поиск
{% endblock title %}
{% block content %}
<h1>Поиск новостей: </h1>
<H3>Найдено новостей: {{ search|length }}</H3>
    <form method="GET">
        {{ filter.form }}
        <input class="btn btn-primary" type="submit" value="Найти">
    </form>
    {% if filter.qs %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Тип поста
                </td>
                <td>
                    Содержание
                </td>
            </tr>
        {% for post in filter.qs %}
            <tr>
                <td>
                    {{ post.title|censor:"**" }}
                </td>
                <td>
                    {{ post.creation_date|date:"M d Y" }}
                </td>
                <td>
                    {{ post.post_type }}
                </td>
                <td>
                    {{ post.content|censor:"**"|truncatewords:20 }}
                </td>
            </tr>
        {% endfor %}
        </table>
        {% include 'news/parts/paginator.html' %}
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}